fastapi==0.111.2
uvicorn[standard]==0.23.2
sqlalchemy==2.0.20
mysql-connector-python==8.1.0
pydantic==2.5.1
python-jose==3.3.0
passlib[bcrypt]==1.7.4
forex-python==1.8
requests==2.32.0
python-dotenv==1.0.0
